<div id="map_canvas" style="width:800px; height: 500px;"></div>




<!--
<table>
  <tr>
    <th>Endereço</th>
    <th>Cidade</th>
    <th>País</th>
    <th>Situação</th>
  </tr>

  <% @bathrooms.each do |toilet| %>
      <tr>
        <td><%= toilet.address %></td>
        <td><%= toilet.city %></td>
        <td><%= toilet.country %></td>
        <td><%= toilet.situation %></td>
      </tr>
  <% end %>
</table>-->
