<section class="map">
  <div id="map_canvas" style="width:700px; height: 500px;"></div>

  <section class="filters">

  </section>
</section>

<table>
  <tr>
    <td>Endereço</td>
    <td>Cidade</td>
    <td>País</td>
  </tr>

  <% @bathrooms.each do |toilet| %>
      <tr>
        <td><%= toilet.address %></td>
        <td><%= toilet.city %></td>
        <td><%= toilet.country %></td>
      </tr>
  <% end %>
</table>
